* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  padding: 0px;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 5px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 8px;
}
.content img{

  height: 25vw;
    object-fit: contain;
}
@media screen and (max-width: 1000px) {
  .column {
    width: 50%;
  }
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

